body {
    font-family: 'Muli', sans-serif;
    background-color: #c2c2d6;
}

h1 {
    text-align: center;
    font-size: 40px;
}

#new-task-input {
    padding: 5px;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    border: 1px solid grey;
    border-radius: 9px;
}

#button {
    background-color: grey;
    display: inline-block;
    padding: 5px;
    font-size: 18px;
}

#button:hover {
    box-shadow: 1px 1px 1px;
    cursor: pointer;
}

ul {
    padding-left: 450px;
}

ul li {
    font-size: 20px;
}
ul li:hover {
    text-decoration: line-through;
}